.userDetail {
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .userDetail__container {

    width: 100%;
    display: flex;
    justify-content: center;

    .userDetail__sub {
      width: 400px;
    }


    .userDetail__profile {
      padding: 30px 0px;

      .userDetail__profile-detail-avatar {
        height: 200px;
        width: 210px;
        border-radius: 50%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      .userDetail__profile-detail {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        & div {
          text-align: center;
        }

        .userDetail__profile-detail-username {
          font-weight: bold;
          font-size: 20px;
        }

        .userDetail__profile-detail-email {
          color: #9099E8;
          margin-top: 3px;
        }

        .userDetail__profile-detail-contact {
          margin-top: 3px;
        }
      }
    }
  }


  .userDetail__container__info-status {
    width: 100%;
    display: flex;
    justify-content: center;

    .userDetail__sub {
      width: 400px;
    }

    .userDetail__info-status {
      padding: 30px 0px;
      width: 100%;

      .userDetail__info-tag {
        display: flex;
        justify-content: center;
      }
    }

    .userDetail__info-verified {
      color: green;
    }

    .userDetail__info-not-verify {
      color: red;
    }
  }

  .line__divide {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #929395;
    width: 95%;
  }
}
