$white0: #FFFDFD;
$white1: #FFFBFB;

.breadcrumb-container {
  background-color: $white1;
  // margin: 0px 0px;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 0px 20px;
}
