.productListHeader__detail {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;


  .productListHeader__title {
    font-weight: bold;
  }

  .productListHeader__btn {
    background-color: #FFD333;
    border-color: #FFD333;
    color: black;
    font-weight: bold;
  }
}
