$yellow1: #ffd333;

.write-review {
    margin: 44px 0px;
    .title {
        font-size: 20px;
        font-weight: bold;
    }
    .submit-btn {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $yellow1;
        padding: 5px 0px;
        border-radius: 4px;
        width: 200px;
    }
}