.orderDetail__form {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .orderDetail__form-handle {
    margin-bottom: 30px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #929395;

    .orderDetail__form-content {
      margin-bottom: 20px;

      .orderDetail__form-content-date {
        font-weight: bold;
      }

      .orderDetail__form-content-orderId {
        color: #929395;
        font-size: 14px;
      }
    }


    .orderDetail__form-content__btn {
      background-color: #FFD333;
      border-color: #FFD333;
      color: black;
      font-weight: bold;
    }


  }

  .orderDetail__form-detail {
    border-bottom: 1px solid #929395;
    padding: 20px;

    .orderDetail__info {
      display: flex;

      .orderDetail__icon {
        background-color: #3D464D;
        padding: 10px;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        max-width: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        .orderDetail__icon-user {
          font-size: 25px;
          color: #FFD333;
        }

        .orderDetail__icon-truck {
          font-size: 20px;
          color: #FFD333;
        }

        .orderDetail__icon-location {
          font-size: 25px;
          color: #FFD333;
          padding: 20px;
        }
      }
    }

    .orderDetail__title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .orderDetail__desciption {
      color: #3D464D;
    }

    .orderDetail__desciption-address {
      word-break: break-all;
      width: 85%;
      color: #3D464D;
    }


  }

  .orderDetail__itemDataTable-title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #929395;
  }

}
