$gray7: #495057;
.review-item{
    .review-container{
        display: flex;
        gap: 20px;
        .avatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .review-content{
            .user-name{
                font-size: 16px;
                font-weight: bold;
            }
            .content{
                font-size: 12px;
            }
            .review-date{
                font-size: 12px;
                color: $gray7;
            }
        }
    }
}