/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

$white: #f0e9e9;
$gray: #5b5b5b;
$lightgray: #a4a3a3;
$darkgray: #212529;
$font-sm: 14px;
$font-md: 30px;



@mixin list-style($gap) {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: $gap;
  margin-bottom: 0px;
}

@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

// TOPBAR STYLE
.topbar {
  background-color: $white;


  .topbar-list {
    @include list-style(15px);
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
  }
}

.topbar-link {
  color: $gray;
  font-size: $font-sm;

  &:hover {
    color: $lightgray;
  }
}

// NAVBAR STYLE

.navbar-container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;



  .navbar__leftSide {
    display: flex;
  }
}

.navbar {
  background-color: #ffd333;
  padding: 0px;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: $font-md;
  font-weight: 600;
  color: $darkgray;
}

.icon-list {
  @include list-style(30px);
}

.navbar-middleSide {
  width: 60%;
  @include center-items;
}

.navbar-rightSide {
  @include center-items;
}

.ant-tooltip-inner {
  background-color: white !important;
  width: 300px;
}

.ant-tooltip-arrow-content:before {
  background: white !important;
}

.ant-tooltip-arrow-content:before {
  display: none;
}

