/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$darkgray: #212529;
$gray: #adb5bd;
$gray7: #495057;
$darkyellow: #b59628;
$lightgray: #f1f3f5;
$red8: #e03131;
$red6: #fa5252;
$green4: #69db7c;
$gray0: #f8f9fa;

@mixin status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
}

.detail-link{
    color: $darkgray;
    &:hover{
        color: $gray7;
    }
}

.item-container {
    // border: 1px solid $gray;
    background-color: $gray0;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    // max-height: 460px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    .img-container{
        display: flex;
        height: 200px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        .item-img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .item-name {
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
        // margin-bottom: 0px;
    }
    .item-id {
        font-size: 16px;
        font-weight: 500;
        // margin-bottom: 0px;
    }
    .item-row {
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .item-percent-off {
            font-size: 16px;
            font-weight: 500;
            color: #e03131;
            // margin-bottom: 0px;
        }
        .item-price {
            font-size: 24px;
            font-weight: 500;
            // margin-bottom: 0px;
        }
    }
    .item-status {
        @include status;
        width: 100px;
        background-color: $green4;
        color: $lightgray;
    }
    .item-warning-status {
        @include status;
        width: 125px;
        background-color: $red6;
        color: $lightgray;
    }
}
//Set default for p
p {
    margin-bottom: 0px;
}
