.productAvatarForm__container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;

  .productAvatarForm__title {
    border-bottom: 1px solid #929395;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .productAvatarForm__upload {
    padding: 20px;
    width: 100%;

    .productAvatarForm__upload-icon {
      display: flex;
      width: 100%;
      font-size: 50px;
      padding: 15px 0px;
      justify-content: center;
    }


    .productAvatarForm__upload-field {
      border: 1px solid #d9d9d9;
      width: 100%;
      margin-bottom: 5px !important;

      .productAvatarForm__upload-button {
        border: none;
        background-color: #C4CDD5;
        border-color: #C4CDD5;
      }
    }


  }
}

.ant-upload-list {
  border-top: 1px solid #d9d9d9;
}
