/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$darkyellow: #b59628;
$yellow: #ffd333;
$gray0: #f8f9fa;

@mixin itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding: 0px 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    .container-header {
        gap: 10px;
        display: flex;
        justify-content: center;
    }
    .freeshipping-container {
        // @include itemContainer;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 10px;
        .freeshipping-item {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: $gray0;
            border-radius: 5px;
            padding: 20px;
            max-width: 300px;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
            .title {
                font-size: 24px;
                font-weight: 500;
            }
            i {
                width: 50;
            }
        }
    }
}

footer {
    height: 100px;
}
