/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$darkyellow: #b59628;
$yellow: #ffd333;
$gray0: #f8f9fa;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    .container-header {
        gap: 10px;
        width: 100%;
        display: flex;
        // justify-content: center;
        .list-item-container{
            width: 80%;
        }
    }
}

footer {
    height: 100px;
}
