.userCreateHeader__detail {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .userCreateHeader__title {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }

  .userCreateHeader__btn {
    background-color: #FFD333;
    border-color: #FFD333;
    color: black;
    font-weight: bold;
  }

}
