/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$gray0: #f8f9fa;
$gray9: #212529;
$gray7: #495057;
$gray4: #E7E2E2;
$green5: #51cf66;
$yellow1: #ffd333;
$red1: #c90404;

@mixin titlestyle {
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    color: $gray7;
}

.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray9;
    gap: 20px;
    .product-info {
        width: 100%;
    }
    .title {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .rating {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        margin: 20px;
        // justify-content: center;
        color: $gray7;
        .sold-info {
            font-weight: 500;
        }
    }
    .description {
        font-size: 14px;
        max-width: 90%;
    }

    .loading {
        display: flex;
        justify-content: center;
    }    
}

.main-divider {
    border-color: $gray7;
}

.color-selection {
    margin: 20px 0px;
    .title {
        @include titlestyle;
    }
}

.quantity {
    margin: 20px 0px;
    .title {
        @include titlestyle;
    }
    .btn-container {
        display: flex;
        gap: 10px;
        .addtocart-btn {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            background-color: $yellow1;
            padding: 10px 30px;
        }
    }
}

.ant-menu-item-selected{
    color: $gray9 !important;
    background-color: $gray4;
    border-color: #ffd333;
}
// .ant-menu > .ant-menu-item:hover,
// .ant-menu > .ant-menu-submenu:hover,
// .ant-menu > .ant-menu-item-active,
// .ant-menu> .ant-menu-submenu-active,
// .ant-menu > .ant-menu-item-open,
// .ant-menu> .ant-menu-submenu-open,
// .ant-menu > .ant-menu-item-selected,
// .ant-menu > .ant-menu-submenu-selected {
//   color: red;
//   border-bottom: 2px solid red;
// }


.rating-container {
    margin: 20px 0px;
    .title {
        @include titlestyle;
    }
}

.available-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 20px 0px;
    .available {
        display: flex;
        gap: 5px;
        .status {
            color: $green5;
        }
    }
}

.reviews-container {
    margin-top: 30px;
}

.price {
    display: flex;
    gap: 20px;
    p {
        font-size: 30px;
        font-weight: 600;
    }
    .saleoff {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        background-color: $yellow1;
        border-radius: 10px;
        font-size: 16px;
        color: $red1;
        font-weight: 600;
    }
}

.main-img {
    margin: 10px 0px;
    max-width: 540px;
    min-height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: $gray0;
    .lg-img {
        max-width: 100%;
        max-width: 100%;
    }
}
.sm-img-container {
    display: flex;
    width: fit-content;
    gap: 10px;
    .sm-img {
        flex-wrap: 1;
        max-width: 100px;
        border-radius: 10px;
    }
}


//Customer reviews
.menu-component-reviews {
    padding: 0px 5%;
    .title {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

// .ant-radio-wrapper {
//     .red-radio {
//         .ant-radio {
//             .ant-radio-input{
//                 &:hover {
//                     border-color: #c90404 !important;
//                 }
//             }
//         }
//         .ant-radio-checked{
//             border-color: #c90404 !important;
//         }
//     }
// }


//Write review

.write-review {
    margin: 44px 0px;
    .title {
        font-size: 20px;
        font-weight: bold;
    }
    .submit-btn {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $yellow1;
        padding: 5px 0px;
        border-radius: 4px;
        width: 200px;
    }
}

//Related product
.related-products {
    .divider-title {
        font-size: 20px;
    }
    .product-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 24px;
    }
}

p {
    margin-bottom: 0px;
}

footer {
    height: 100px;
}
