#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #FFD333;
}

.ant-menu-inline>.ant-menu-item {
  height: 55px;

  &:hover {
    background-color: #FFD333;
  }
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item {
  height: 55px;

  &:hover {
    background-color: #FFD333;
  }
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.menu__application__title {
  padding: 20px 0px 20px 20px;
  color: white;
}

.active__menu--sider {
  background-color: #FFD333;
  color: white;
  padding-top: 30px;

  &:hover {
    background-color: #FFD333;
  }

  .active__menu--sider-link {
    color: white !important;
  }
}

.ant-menu-submenu .ant-menu-submenu-inline {
  &:hover {
    background-color: #FFD333;
  }
}

.ant-layout-content {
  background: none !important;
}

.ant-layout-header {
  background: #fff !important;
}

.header__container {
  display: flex;
  justify-content: space-between;

  .header__host--name {
    margin-right: 8px;
    color: gray;
  }
}

.right__side{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-right: 20px;
    .right__side__name{
        max-height: 16px;
    }
}


.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #FFD333;
}

.admin--host {
  //   height: 35px;
  background: #FFD333;

  .admin--host--title {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  .admin--host--content {
    padding: 14px 16px 16px 16px;
    background: #FFD333;
  }

  .ant-tag .ant-tag-default {
    border-radius: 5px;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.admin__collapse {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
}

.admin__collapsed {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

  .admin--host--title {
    font-size: 10px;
  }

}

.menu__application__title__collapsed {
  font-size: 13px;
  color: white;
}

.sider__menu {
  .ant-menu-item {
    display: flex;
    align-items: center;
  }
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #3D464D;
}

.ant-layout-sider-children {
  background-color: #3D464D;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #FFD333;
}
