.userAnotherForm__container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin-top: 20px;
  height: 300px;

  .userAnotherForm__title {
    border-bottom: 1px solid #929395;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .userAnotherForm__detailForm {
    padding: 20px;
    width: 100%;

    .userAnotherForm__row {
      margin-top: 15px;
    }
  }


}
