.signInForm__container {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;

  .signInForm__image {
    height: 400px;
    max-width: 400px;
    background-color: #FAF096;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    width: 100%;

    .signInForm__image-shop {
      font-size: 120px;
    }

    .signInForm__title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .signInForm__content {
    height: 100%;
  }

  .signInForm__label {
    font-size: 20px;
    font-weight: bold;
  }

  .signInForm__btn {
    background-color: #FFD333;
    border-color: #FFD333;
    margin-top: 10px;
    color: black;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
  }

  .signInForm__indicateSignUp {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;

    & a {
      color: gray;

      &:hover {
        color: black;
      }
    }

  }
}

.signInForm__rightSide {
  height: 400px;
  width: 400px;
  max-width: 400px;
  padding: 50px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal__style {
  .ant-modal-content {
    padding: 0px;
    border-radius: 15px;

    .ant-modal-close {
      display: none !important;
    }

    .ant-modal-body {
      padding: 0px;
    }
  }
}

.signInForm__rightSide-x-icon {
  position: absolute;
  z-index: 9;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
