$darkyellow: #b59628;
$yellow: #ffd333;
$gray0: #f8f9fa;

.bestseller-container {
    .bestseller-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        padding: 0px 100px;
        p {
            font-size: 24px;
            font-weight: 600;
        }
        .showmore-btn {
            font-size: 16px;
            padding: 5px 10px;
            border: 2px solid $yellow;
            border-radius: 30px;
            font-weight: 500;
        }
    }
    .product-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 24px;
    }
}
