.productInformationForm__container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;

  .productInformationForm__title {
    border-bottom: 1px solid #929395;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .productInformationForm__detailForm {
    padding: 30px;
    width: 100%;
  }

  .productInformationForm__paddingColLeft{
    padding-left: 10px;
  }
  .productInformationForm__paddingColRight{
    padding-right: 10px;
  }
}

// .productInformationForm__height {
//   height: 550px;
// }

// .productInformationForm__heightWithAvatar {
//   height: 600px;
// }
