/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$darkgray: #3d464d;
$darkyellow: #b59628;
$lightgray: #f1f3f5;

@mixin category-btn($backgroundColor) {
    color: $lightgray;
    border: 1px solid $darkgray;
    background-color: $backgroundColor;
}

// .category-icons{
//     width: 24px;
//     height: 24px;
// }

.categories-container {
    background-color: $darkgray;
    width: 250px;
    height: fit-content;
}

.categories-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 10px;
    gap: 5px;
    font-size: 24px;
    font-weight: 700;
    color: $lightgray;
    .category-icons {
        stroke: $lightgray;
        width: 24px;
        height: 24px;
    }
}

.category-btn {
    width: 250px;
    @include category-btn($darkgray);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    padding: 20px 10px;
    &:hover {
        @include category-btn($darkyellow);
    }
    &:focus {
        @include category-btn($darkyellow);
    }     
}

// .category-btn{
//     width: 50px;
//     background-color: $darkgray;
// }
