/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$gray9: #212529;
$gray7: #495057;
$gray6: #5A5A5A;
$gray5: #adb5bd;
$gray4: #E7E2E2;
$green5: #51cf66;
$yellow1: #ffd333;

.container__cart {
  margin-top: 30px;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.below-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.coupon-container {
  display: flex;
  gap: 20px;

}

.checkout-info-container {
  border: 1px solid $gray5;
  border-radius: 5px;
  padding: 20px 10px 30px 20px;
  width: 100%;

  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .content {
    display: flex;
    margin: 16px 0px;
    justify-content: space-between;

    .title {
      font-size: 16px;
    }

    .total-title {
      font-size: 20px;
      font-weight: 500;
    }

    .value {
      font-size: 16px;
      font-weight: bold;
      color: $gray6;
    }
  }

  .checkout-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
