.orderDetailHeader__detail {
  margin-top: 20px;
  margin-bottom: 20px;
  .orderDetailHeader__title{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }

  .orderDetailHeader__userId{
    color: gray;
  }

}
