.userInformationForm__container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  height: 600px;

  .userInformationForm__title {
    border-bottom: 1px solid #929395;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .userInformationForm__detailForm {
    padding: 30px;
    width: 100%;
  }
}
