.userDetailHeader__detail {
  margin-top: 20px;
  margin-bottom: 20px;
  .userDetailHeader__title{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }

  .userDetailHeader__userId{
    color: gray;
  }

}
