.account-container {
  margin-top: 30px;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;

  .myAccount__leftSize {
    box-sizing: border-box;
    padding: 0px 20px 0px 0px;

    background: #FFFEFE;
    border: 1px solid rgba(90, 90, 90, 0.4);
    /* box-shadow */

    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    .myAccount__leftSize-wrapper {
      padding: 10px 0px 10px 40px;
    }

  }

  .myAccount__rightSize {
    box-sizing: border-box;
    // padding: 0px 20px 0px 0px;

    background: #FFFEFE;
    border: 1px solid rgba(90, 90, 90, 0.4);
    /* box-shadow */

    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .myAccount__tabActive {
    color: #FFD333;
  }

  .myAccount__tabNotActive {
    color: #868484;
  }
}
