.productListTable--nameContentColumn {
  display: flex;

  .productListTable--image {
    height: 60px;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
  }

  .productListTable--id {
    color: gray;
  }
}
