.userListHeader__detail {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;


  .userListHeader__title{
    font-weight: bold;
  }

  .userListHeader__btn {
    background-color: #FFD333;
    border-color: #FFD333;
    color: black;
    font-weight: bold;
  }
}
