/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

$gray9: #212529;
$gray7: #495057;
$gray6: #868e96;
$gray5: #adb5bd;
$gray4: #E7E2E2;
$green5: #51cf66;
$yellow1: #ffd333;
$blue1: #4dabf7;

.checkout-wrapper {
  margin-top: 30px;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.checkout-container {
  display: flex;
  gap: 10px;
}

.table-container {
  width: 100%;
}

.beside-container {
  width: 100%;
}

.shipping-info-container {
  border: 1px solid $gray6;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .user-info {
    margin: 10px 0px;

    .title {
      font-size: 16px;
    }
  }

  .edit-link {
    color: $blue1;
    font-size: 16px;
  }
}

.payment-selection {
  display: flex;
  width: 100%;
  justify-content: center;
  //   margin: 16px 0px;
}

.checkout-info-sm-container {
  border: 1px solid $gray6;
  border-radius: 5px;
  padding: 10px 20px;

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .checkout-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .title {
      font-size: 16px;
    }

    .info {
      font-weight: 600;
      color: $gray6;
    }
  }

  .checkout-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
