.userListTable__container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .userListTable__search {
    padding: 25px 20px;
    border-bottom: 1px solid #929395;

    .userListTable__search-icon {
      color: #EDEDED;
      margin-right: 5px;
    }
  }
}


.userListTable--editIcon {
  color: rgb(72, 171, 72);
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.userListTable--deleteIcon {
  color: rgb(226, 82, 82);
  font-size: 16px;
  cursor: pointer;
}

.ant-table-pagination.ant-pagination {
  margin-left: 20px;
}

.ant-pagination-item-active {
  z-index: 3;
  color: black !important;
  background-color: #FFD333 !important;
  border-color: #FFD333;
}


.productListTable--nameContentColumn {
  display: flex;

  .productListTable--image {
    height: 60px;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
  }

  .productListTable--id {
    color: gray;
  }
}

.userListTable__pagination {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding: 20px;
}

.itemPerPage {
  border-color: rgb(170, 169, 169);
  outline: none !important;
  border: 1px solid rgb(170, 169, 169);
  margin-left: 5px;
}
